

ul{
	@media screen and (max-width: 800px){
		background: yellow;
		li{
			color: purple;
		}
	}
}

p{
	font-weight: bold;
	color: #abce13;
	font-style: italic;
	width: 50%;
	margin-left: 25%;
	background: tomato;
	&:hover{
		color: blue;
		transition: 2s ease;
		font-size: 30px;;
	}
}