p{
	font-size: 1.5em;
	color: darkgreen;
	&.filler{
		width: 40%;
		margin-left: 30%;
		font-size: 4em;
	}
	&.fixIt{
		background: red;
		text-align: center;
		transition: 3s ease;
		position: fixed;
		top: 0;
	}
}







.sec1{
	ul{
		li{
			transition: 2s ease;
			&.color{
				color: green;
				background: red;
				margin-left: 30%;
				width: 40%;
				transition: 2s ease;
			}
		}
	}
	














}

